:root {
    /* COLORES */
    --amarillo: #F5C044;
    --negro: #18181B;
    --gris: #52525A;
    --grisClaro: #D4D4D8;
    --blanco: #fff;
    --semiBlanco: #FAFAF9;

    /* FUENTE */    
    --principal: 'Sora', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--principal);
    margin: 0;
    font-size: 2rem;
    background-color: var(--semiBlanco);
}
h1 {
    font-size: 3.6rem;
}
h3 {
    font-size: 1.4rem;
    color: var(--gris);
    font-weight: 400;
}
.cliente__opinion {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.4rem;
    color: var(--gris);
}
h1, h4 {
    color: var(--negro);

}
p {
    font-size: 2rem;
    color: var(--gris);
}

/* MAIN */

@media (min-width: 480px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}
@media (min-width: 1000px) {
    .contenedor {
        margin: 10rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2rem;
}
.contenido__emoji {
    background-color: var(--amarillo);
    padding: 1rem;
    border-radius: 3rem;
    font-size: 1.8rem;
}
.contenido__titulo {
    margin: 0;
}

.ventaja {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ventaja__icono {
    margin-right: 1rem;
}

/* OPINIONES */
.bloques {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bloque {
    background-color: var(--blanco);
    margin: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}

.bloque1 {
    margin-left: 20rem;
}
.bloque2 {
    margin-right: 20rem;
}

.marca__imagen {
    width: 40%;
    margin-right: 2rem;
}

.marca {
    display: flex;
    flex-direction: row;
    align-items: center;
}

